<h1>Coaches, log in here:</h1>

<form action="/coaches/login" method="post">
  <label>Name:</label>
  <input type="text" name="coach[name]"><br>
  <label>Password:</label>
  <input type="text" name="coach[password]"><br>
  <input type="submit" name="submit" value="submit">
</form>
