<h1>Create New Boat</h1>

<form action="/boats/new" method="post">
  <label>Boat Name:</label>
  <input type="text" name="boat[name]"><br>
  <label>Number of Seats:</label>
  <input type="text" name="boat[num_seats]"><br>
  <label>Weight:</label>
  <input type="text" name="boat[weight]"><br>
  <input type="submit" name="submit" value="submit">
</form>
